<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>access_retrieve.html</title>
</head>
<body>
    <center>
        <h1>This is Access retrive  Records Data</h1>
        <form  method="POST">
            {% csrf_token %}
           
            <label for="pn">player_name</label>
            <select name="pn" id="pn" multiple>
                {% for pln in player %}
                <option value="{{pln}}">{{pln.player_name}}</option>
                {% endfor %}
            </select>
            <br><br>
            
            <input type="submit" value="Access retrive  Record">
        </form>
    </center>
</body>
</html>