<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This Is Webpage Details</h1>
        <table border="3px">
            <tr>
                <th>topic_name</th>
                <th>Player_Name</th>
                <th>Url</th>
                <th>Email</th>
                {% for dw in webpages %}
                <tr>
                    <td>{{dw.topic_name}}</td>
                    <td>{{dw.player_name}}</td>
                    <td>{{dw.url}}</td>
                    <td>{{dw.Email}}</td>
                </tr>
                {% endfor %}
            </tr>

        </table>
    </center>
</body>
</html>