<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is AccessRecords Webpage</h1>
        <form  method="POST">
            {% csrf_token %}
            <label for="pn">player_name</label>
            <select name="player" id="player">
                {% for po in pname %}
                <option value="{{po}}">{{po.player_name}}</option>
                {% endfor %}
            </select>
           

            <br></br>
            <label for="author">Enter AutherName</label>
            <input type="text" name="author" id="author">
            <br></br>
            <label for="date">Enter Date</label>
            <input type="date" name="date" id="date">
            <br></br>
            <input type="submit" value="insert_accessrecords">
        </form>
    </center>
</body>
</html>